

#NET "A" LOC = L13;
#NET "B" LOC = L14;


#NET "Y" DRIVE = 8;


#NET "Y" LOC = F12;


NET "A0" LOC = L13;
NET "A1" LOC = L14;
NET "B0" LOC = H13;
NET "B1" LOC = D18;
NET "S" LOC = F12;
NET "S2" LOC = E12;
NET "Cout" LOC = E11;


NET "Cout" DRIVE = 8;
NET "S" DRIVE = 8;
NET "S2" DRIVE = 8;
NET "Cin" PULLDOWN;

# PlanAhead Generated IO constraints 

NET "A0" PULLDOWN;
NET "A1" PULLDOWN;
NET "B0" PULLDOWN;
NET "B1" PULLDOWN;
